body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none
}

#piano {
  height: 350px;
  padding: 90px 30px 0 30px;
  background-color: #fc8989;
  border-radius: 10px;

}

.key{
  position: relative;
}

.key:active {
  background-color: lightgray;
}

.white-keys{
  display: flex;
  position: relative;
}

.black-keys{
  position: relative;
}

.white-key{
  width: 68px;
  height: 280px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  border: solid #000 2px;
  box-sizing: border-box;
}

.black-key{
  position:absolute;
  background-color: #000;
  width: 38px;
  height: 160px;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  z-index: 1;
}

.black-key:nth-child(1){
  left:48px;
}

.black-key:nth-child(2){
  left:117px;
}

.black-key:nth-child(3){
  left:253px;
}

.black-key:nth-child(4){
  left:320px;
}

.black-key:nth-child(5){
  left:389px;
}

.black-key:nth-child(6){
  left:525px;
}

.black-key:nth-child(7){
  left:594px;
}

.black-key:nth-child(8){
  left:662px;
}

.black-key:nth-child(9){
  left:797px;
}

.black-key:nth-child(10){
  left: 865px;
}

#key-name-style{
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: gray;
}

.black-key span{
  color: whitesmoke;
  left: 40%;
}

.white-key span{
  color: #000;
  left: 45%;
}

/*    HEADER   */

header{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 15px;
  padding-bottom: 20px;
}

header h6{
  font-size: 2rem;
  margin: 0;
  padding: 0;
 }

.checkboxandlabel{
  font-weight: 600;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
}

#show-keys,
#volume-slider {
  margin-left: 15px;
}


#show-keys{
    appearance: none;
}

#checkbox-background{
  padding: 5px 22px;
  border-radius: 15px;
  background-color: rgb(36, 36, 36);
  margin-right: -30px;
  margin-left: 15px;
}

#show-keys::before {
  content: "";
  padding: 10px 10px;
  border-radius: 10px;
  position: absolute;
  background-color: gray;
 right: -7px;
  top: 8px;
  
}

#show-keys:checked::before {
  position: absolute;
  background-color: whitesmoke;
  right: 7px;
  top: 8px;
  
}

.active-key{
  background-color: lightgray;
}


#volume-slider {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 150px;
  height: 8px;
  border-radius: 5px;
  background: linear-gradient(to right, black 50%, rgb(233, 233, 233) 50%);
}

/* Input Thumb */
#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: rgb(233, 233, 233);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  
}

#volume-slider::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: rgb(233, 233, 233);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
}

#volume-slider::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: rgb(233, 233, 233);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
}

#volume-slider::-webkit-slider-thumb:hover {
  background: white;
}

#volume-slider::-moz-range-thumb:hover {
  background: white;
}
#volume-slider::-ms-thumb:hover {
  background: white;
}




